@page
@using Microsoft.AspNetCore.Http
@model PRN221_SE1503_GroupProject_BloodDonor_Happy3Friends.Pages.Organizations.IndexModel

@{
    ViewData["Title"] = "Admin";
}

@if (HttpContext.Session.GetString("role") == "Admin")
{
    <a style="text-decoration: none" class="getstarted scrollto" asp-area="" asp-page="">Xin chào tớ là Admin nè cậu</a>

    <form method="post" asp-page-handler="Logout">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Đăng xuất (or lồng vào trong tên)</button>
        </div>
    </form>


    <h1>Admin</h1>

    <p>Admin làm được gì ở đây thì bỏ vào trang này: Quản lý Organization (CRUD) + Chức năng search (chưa xong - làm trước khung search đi)</p>
    <p>Trang detail của org thì làm popup cho xinh (hoặc tính sao cũng đc) chứ tự nhiên qua trang mới dô nghĩa quá, còn cái delete cũng không cần qua trang mới mà xổ cái popup are u sure delete rồi xóa luôn</p>
    <p>Update vs create tương tự nhau, làm sao thuận tiện là được, chú ý phần dropdown của create vs edit (có note bên trang đó)</p>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].AddressDetails)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].District)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].IsRedCross)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Organization)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.District)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsRedCross)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <h6>Bạn không có quyền truy cập trang này! <a asp-page="/Login">Đăng nhập để tiếp tục</a></h6>
}

