@page
@using Microsoft.AspNetCore.Http
@model PRN221_SE1503_GroupProject_BloodDonor_Happy3Friends.Pages.Organizations.IndexModel

@{
    ViewData["Title"] = "Admin";
}


@if (HttpContext.Session.GetString("role") == "Admin")
{
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PRN221_SE1503_GroupProject_BloodDonor_Happy3Friends</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- Vendor CSS Files -->
    @*<link href="~/lib/aos/dist/aos.css" rel="stylesheet">*@
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/lib/glightbox/dist/css/glightbox.min.css" rel="stylesheet">
    <link href="~/lib/remixicon/fonts/remixicon.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>
<body style="height: 100vh">
    <style>
        .header-row {
            color: #FFF;
            font-weight: 500;
        }
        .btn-action {
            text-decoration: none;
        }
        .btn-edit {
            color: #f2da02;
            padding: 4px 16px;
            border-radius: 16px;
            font-size: 16px;
        }
        .btn-details {
            color: #37517e;
            padding: 4px 16px;
            border-radius: 16px;
        }
        .btn-delete {
            color: #f50707;
            padding: 4px 12px;
            border-radius: 16px;
            font-size: 16px;
        }

    </style>
    <nav class="navbar" style="position: relative; background-color: #37517e;">
        <div class="container-fluid justify-content-start">
            <h3 style="color: #fff;margin: 0; padding-left: 4%">BloodDonor</h3>
            <form style="padding-left: 4%" class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            <p style="text-decoration: none; margin: 0; margin-left: 48%; color: #fff">Xin chào, Admin</p>
            <form method="post" asp-page-handler="Logout">
                <div class="form-group">
                    <button class="btn btn-outline getstarted scrollto" type="submit">Đăng xuất</button>
                </div>
            </form>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div style="margin: auto" class="col-10 mt-5">
                <a style="text-decoration: none; background-color: #37517e; color: #FFF; padding: 8px 16px; border-radius: 12px" asp-page="Create">Create New</a>
                <table class="table table-bordered table-striped rounded-3 w-100 mt-4">
                    <thead style="background-color: #37517e; ">
                        <tr>
                            <th class="header-row">
                                @Html.DisplayNameFor(model => model.Organization[0].Username)
                            </th>
                            <th class="header-row">
                                @Html.DisplayNameFor(model => model.Organization[0].Password)
                            </th>
                            <th class="header-row">
                                @Html.DisplayNameFor(model => model.Organization[0].Name)
                            </th>
                            <th class="header-row">
                                @Html.DisplayNameFor(model => model.Organization[0].Description)
                            </th>
                            <th class="header-row">
                                @Html.DisplayNameFor(model => model.Organization[0].AddressDetails)
                            </th>
                            <th class="header-row">
                                @Html.DisplayNameFor(model => model.Organization[0].District)
                            </th>
                            <th class="header-row">
                                @Html.DisplayNameFor(model => model.Organization[0].City)
                            </th>
                            <th class="header-row">
                                @Html.DisplayNameFor(model => model.Organization[0].IsRedCross)
                            </th>
                            <th colspan="3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Organization)
                        {
                            <tr>
                                <td class="body-row">
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td class="body-row">
                                    @Html.DisplayFor(modelItem => item.Password)
                                </td>
                                <td class="body-row">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td class="body-row">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td class="body-row">
                                    @Html.DisplayFor(modelItem => item.AddressDetails)
                                </td>
                                <td class="body-row">
                                    @Html.DisplayFor(modelItem => item.District)
                                </td>
                                <td class="body-row"> 
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsRedCross)
                                </td>
                                <td>
                                    <a class="btn-action btn-edit" asp-page="./Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                    <a class="btn-action btn-delete" asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash-fill"></i></a>
                                </td>
                                <td>
                                    <a class="btn-action btn-details" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer id="footer" style="position: absolute;bottom: 0;width: 100%;">
        <div class="footer-newsletter">
            <div class="container">
                <div class="row justify-content-center">
                </div>
            </div>
        </div>

        <div class="container footer-bottom clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h3>BloodDonor</h3>
                    </div>
                </div>
            </div>
            <div class="copyright">
                &copy; Copyright <strong><a href="https://github.com/HAPPY-3-FRIENDS">Happy 3 Friends</a></strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by Happy 3 Friends
            </div>
        </div>
    </footer><!-- End Footer -->
</body>
</html>
} else {
    <h6>Bạn không có quyền truy cập trang này! <a asp-page="/Login">Đăng nhập để tiếp tục</a></h6>
}
@*@if (HttpContext.Session.GetString("role") == "Admin")
{
    <a style="text-decoration: none" class="getstarted scrollto" asp-area="" asp-page="">Xin chào tớ là Admin nè cậu</a>

    <form method="post" asp-page-handler="Logout">
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Đăng xuất (or lồng vào trong tên)</button>
        </div>
    </form>


    <h1>Admin</h1>

    <p>Admin làm được gì ở đây thì bỏ vào trang này: Quản lý Organization (CRUD) + Chức năng search (chưa xong - làm trước khung search đi)</p>
    <p>Trang detail của org thì làm popup cho xinh (hoặc tính sao cũng đc) chứ tự nhiên qua trang mới dô nghĩa quá, còn cái delete cũng không cần qua trang mới mà xổ cái popup are u sure delete rồi xóa luôn</p>
    <p>Update vs create tương tự nhau, làm sao thuận tiện là được, chú ý phần dropdown của create vs edit (có note bên trang đó)</p>

    <p>
        <a asp-page="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].Password)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].AddressDetails)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].District)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Organization[0].IsRedCross)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Organization)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Password)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressDetails)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.District)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsRedCross)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
} else {
    <h6>Bạn không có quyền truy cập trang này! <a asp-page="/Login">Đăng nhập để tiếp tục</a></h6>
}*@




