@page
@model PRN221_SE1503_GroupProject_BloodDonor_Happy3Friends.Pages.Volunteers.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Volunteer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.IdentityNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.IdentityNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.AddressDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.AddressDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.District)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.District)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.BloodType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.BloodType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Volunteer.LastDonatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Volunteer.LastDonatedDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Volunteer.Phone">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
