@page
@model PRN221_SE1503_GroupProject_BloodDonor_Happy3Friends.Pages.Campaigns.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.BloodTypeRequired)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.BloodTypeRequired)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.AddressDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.AddressDetails)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.District)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.District)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Campaign.Organization)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Campaign.Organization.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Campaign.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
