@page
@model PRN221_SE1503_GroupProject_BloodDonor_Happy3Friends.Pages.VolunteerHealths.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>VolunteerHealth</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerHealth.Height)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerHealth.Height)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerHealth.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerHealth.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerHealth.HaveHepatitisBvirus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerHealth.HaveHepatitisBvirus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerHealth.HaveHivvirus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerHealth.HaveHivvirus)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VolunteerHealth.OtherDiseases)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VolunteerHealth.OtherDiseases)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.VolunteerHealth.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
